<div class="equip-card">
  <div class="photos">
    <div id="carousel-<%= equipment.id %>" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <% equipment.photos.each do |photo| %>
          <% if photo == equipment.photos.first %>
            <div class="carousel-item active">
          <% else %>
            <div class="carousel-item">
          <% end %>
          <%= link_to equipment_path(equipment) do %>
            <%= cl_image_tag photo.key %>
          <% end %>
          </div>
        <% end %>
      </div>
      <% if equipment.photos.attached? && equipment.photos.length > 1%>
      <a class="carousel-control-prev" href="#carousel-<%= equipment.id %>" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carousel-<%= equipment.id %>" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
      <% end %>
    </div>
  </div>
  <%= link_to equipment_path(equipment) do %>
    <div class="d-flex justify-content-between align-items-center m-3">
      <div class="equip-text d-flex flex-column">
        <span class="mb-1 text-large"><%= equipment.name.capitalize %></span>
        <span>From <strong><%= User.find(equipment.user_id).first_name %></strong></span>
      </div>
      <div class="card-right-content text-right">
        <span><%= equipment.price %> CAD</span>
        <div class="rating d-flex justify-content-end align-items-center mt-1">
          <% if !equipment.reviews.empty? %>
            <% ratings = equipment.reviews.map{|review| review.rating} %>
            <% ratings_count = equipment.reviews.count %>
            <% medium_ratings = ratings.sum.fdiv(ratings.count) %>
            <i class="fas fa-star text-warning"></i> <%= medium_ratings %> (<%= ratings_count %>)
          <% else %>
            <i class="far fa-star text-warning"></i> (0)
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

