<div class="container-fluid">
  <div class="title-search mt-4 mb-2">
    <div class="title">
      <h1>Try a new sport today!</h1>
    </div>
      <form class="form-inline m-3">
        <input type="text" name="search" id="search" class="form-control" placeholder="Search equipment..." />
        <button class="btn btn-success my-2 mx-1 border" type="submit">Search</button>
      </form>
  </div>

  <div class="cards-map-container">
    <div class="equip-card-container mb-5">
      <% @equipments.each do |equipment| %>
      <%= render 'carousel-card', equipment: equipment%>
      <% end %>
    </div>

    <% if user_signed_in? %>
    <div id="map"
         style="height: 100vh;"
         data-markers="<%= @markers.to_json %>"
         data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
         data-user-longitude="<%= current_user.longitude %>"
         data-user-latitude="<%= current_user.latitude %>">
    </div>
    <% else %>
      <div id="map"
         style="height: 100vh;"
         data-markers="<%= @markers.to_json %>"
         data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
    <% end %>
  </div>
</div>
