<div class="container">

  <h1 class="title my-5 text-center">
    <strong><%= @equipment.name.capitalize %></strong>

    <% if policy(@equipment).destroy? %>
      <%= link_to equipment_path(@equipment), method: :delete, data: { confirm: "Are you sure you want to delete #{@equipment.name}?" } do %>
        <i class="far fa-trash-alt smaller-icon"></i>
      <% end %>
    <% end %>


    <% if policy(@equipment).edit? %>
      <%= link_to edit_equipment_path(@equipment) do %>
        <i class="far fa-edit smaller-icon"></i>
      <% end %>
    <% end %>
  </h1>

  <div class="row content-show">

    <div class="white-card m-3">
      <div class="flex-grow-1 d-flex flex-column">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <% @equipment.photos.each do |photo| %>
              <% if photo == @equipment.photos.first %>
                <div class="carousel-item active">
              <% else %>
                <div class="carousel-item">
              <% end %>
              <%= cl_image_tag photo.key, height: 400, crop: :fill, class: "d-block carousel-center image-full" %>
            </div>
            <% end %>
          </div>
          <% if @equipment.photos.attached? && @equipment.photos.length > 1%>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
          <% end %>
        </div>
      </div>

      <div class="description p-3">
      <div class="small-info d-flex justify-content-around">
        <div class="text-center"><h3 class="border-bottom py-2 title-color"><strong>Owner</strong></h3> <p><%= User.find(@equipment.user_id).first_name %></p></div>
        <div class="text-center"><h3 class="border-bottom py-2 title-color"><strong>Price</strong></h3> <p><%= @equipment.price %>CAD /day</p></div>
      </div>
      <h3 class="border-bottom py-2 mt-5"><strong class="title-color">Description</strong></h3> <p><%= @equipment.description %></p>
      </div>

        <div class="description p-3 my-5">
          <h3 class="title-color border-bottom py-2"><strong>Reviews</strong></h3>
          <% @reviews = @equipment.reviews %>
          <% if @reviews.empty? %>
            <%= "-- None yet--"%>
          <% else %>
            <% counter = 1 %>

              <ul>
            <% @reviews.each do |review|%>
                <li class="box-white">
                  <p><strong>N°<%= counter%>:</strong> <%= review.title %>
                    <% (review.rating).times do |r| %>
                      <i class="fas fa-star text-primary"></i>
                    <% end %>
                    <% (5 - (review.rating)).times do |r| %>
                      <i class="far fa-star text-primary"></i>
                    <% end %>
                    </p>
                  <p><strong>Content:</strong> <%= review.description %></p>
                </li>
              </ul>
              <% counter += 1 %>
            <% end %>
          <% end %>
        </div>
      </div>

    <div class="right-side-show d-flex flex-column sticky-sidebar">

      <div class="orange-row p-4 m-3">
        <%= simple_form_for [@equipment, Booking.new] do |f| %>
          <%= date = f.input :date, as: :date %>
          <%= period = f.input :days %>
          <p>Total price: <span id="total-price"><%= @equipment.price %></span>CAD</p>
          <%= f.submit "Book now!", class: "btn" %>
        <% end %>
      </div>

      <div class="smaller-equipment-card-container my-3">

        <h4>Other equipments</h4>

        <%= link_to equipment_path(@other_equipment) do%>
          <div class="equip-card my-3">
            <div class="flex-grow-1 d-flex flex-column">
              <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <% @other_equipment.photos.each do |photo| %>
                    <% if photo == @other_equipment.photos.first %>
                      <div class="carousel-item active">
                    <% else %>
                      <div class="carousel-item">
                    <% end %>
                    <%= cl_image_tag photo.key, height: 200, crop: :fill, class: "d-block carousel-center" %>
                  </div>
                  <% end %>
                </div>
                <% if @other_equipment.photos.attached? && @other_equipment.photos.length > 1%>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
                <% end %>
              </div>
            </div>
            <div class="smaller-card-info">
              <div class="smaller-equipment-title px-3">
                <strong><%= @other_equipment.name %></strong>
              </div>
            </div>
          </div>
        <% end%>

        <%= link_to equipment_path(@second_equipment) do%>
          <div class="equip-card my-3">
            <div class="flex-grow-1 d-flex flex-column">
              <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <% @second_equipment.photos.each do |photo| %>
                    <% if photo == @second_equipment.photos.first %>
                      <div class="carousel-item active">
                    <% else %>
                      <div class="carousel-item">
                    <% end %>
                    <%= cl_image_tag photo.key, height: 200, crop: :fill, class: "d-block carousel-center" %>
                  </div>
                  <% end %>
                </div>
                <% if @second_equipment.photos.attached? && @second_equipment.photos.length > 1%>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
                <% end %>
              </div>
            </div>
            <div class="smaller-card-info">
              <div class="smaller-equipment-title px-3">
                <strong><%= @second_equipment.name %></strong>
              </div>
            </div>
          </div>
        <% end%>

      </div>

    </div>

  </div>
</div>
