<div class="container">
  
  <h1 class="title my-5 text-center">
    <strong><%= @equipment.name.capitalize %></strong>

    <% if policy(@equipment).destroy? %>
      <%= link_to equipment_path(@equipment), method: :delete, data: { confirm: "Are you sure you want to delete #{@equipment.name}?" } do %>
        <i class="far fa-trash-alt smaller-icon"></i>
      <% end %>
    <% end %>


    <% if policy(@equipment).edit? %>
      <%= link_to edit_equipment_path(@equipment) do %>
        <i class="far fa-edit smaller-icon"></i>
      <% end %>
    <% end %>
  </h1>

  <div class="row justify-content-around">

    <div class="white-card p-3 my-3">
      <div class="flex-grow-1 d-flex flex-column">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <% @equipment.photos.each do |photo| %>
              <% if photo == @equipment.photos.first %>
                <div class="carousel-item active">
              <% else %>
                <div class="carousel-item">
              <% end %>
              <%= cl_image_tag photo.key, height: 300, crop: :fill, class: "d-block carousel-center" %>
            </div>
            <% end %>
          </div>
          <% if @equipment.photos.attached? && @equipment.photos.length > 1%>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
          <% end %>
        </div>
      </div>

      <div class="description mx-3 my-3">
        <p class="border-bottom py-2"><strong class="title-color">Description:</strong> <%= @equipment.description %></p>
        <p class="border-bottom py-2"><strong class="title-color">Price:</strong> <%= @equipment.price %>CAD /day</p>
        <p class="border-bottom py-2"><strong class="title-color">Owner:</strong> <%= User.find(@equipment.user_id).first_name %></p>
      </div>

        <div class="description mx-3 my-5">
          <p class="title-color"><strong>Reviews:</strong></p>
          <% @reviews = @equipment.reviews %>
          <% if @reviews.empty? %>
            <%= "-- None --"%>
          <% else %>
            <% counter = 1 %>

              <ul>
            <% @reviews.each do |review|%>
                <li class="box-white">
                  <p><strong>N°<%= counter%>:</strong> <%= review.title %>
                    <% (review.rating).times do |r| %>
                      <i class="fas fa-star text-primary"></i>
                    <% end %>
                    <% (5 - (review.rating)).times do |r| %>
                      <i class="far fa-star text-primary"></i>
                    <% end %>
                    </p>
                  <p><strong>Content:</strong> <%= review.description %></p>
                </li>
              </ul>
              <% counter += 1 %>
            <% end %>
          <% end %>
        </div>
      </div>

    <div class="orange-row p-3 m-3">
      <%= simple_form_for [@equipment, Booking.new] do |f| %>
        <%= date = f.input :date, as: :date %>
        <%= period = f.input :days %>
        <p>Total price: <span id="total-price"><%= @equipment.price %></span>CAD</p>
        <%= f.submit "Book now!", class: "btn" %>
      <% end %>
    </div>

  </div>
</div>
