<div class="container">
  <div class="row">
    <div class="flex-column">
      <div class="title">
        <h1><%= @equipment.name %></h1>
      </div>

      <div class="photo mb-3">
        <% @equipment.photos.each do |photo| %>
       <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
        <% end %>
      </div>

      <div class="booking border p-3 mb-3">
        <%= simple_form_for [@equipment, Booking.new] do |f| %>
          <%= f.input :date, as: :date %>
          <%= f.input :days %>
          <p>Total price: <span id="total-price"><strong><%= @equipment.price %></strong></span>CAD</p>
          <%= f.submit "Book now!", class: "btn border" %>
        <% end %>
      </div>
    </div>

    <div class="description mx-3 my-5">
      <p><strong>Description:</strong> <%= @equipment.description %></p>
      <p><strong>Price:</strong> <%= @equipment.price %>CAD</p>
      <p><strong>Owner:</strong> <%= User.find(@equipment.user_id).first_name %></p>
      <p><%= link_to "Edit", edit_equipment_path(@equipment) %></p>
      <%= link_to "Delete",
            equipment_path(@equipment),
            method: :delete,
            data: { confirm: "Are you sure you want to delete #{@equipment.name}?" } %>
    </div>
    
  <%= link_to "Return to all equipment", equipments_path %>
    
  </div>
</div>
