<div class="container">

  <h1 class="text-center my-3">My Dashboard</h1>

  <div class="row purple-row my-3 p-2">

    <div class="my-equipment col-12">
      <h2 class="border-bottom my-2">My Equipment</h2>
      <% if @equipments.empty? %>
        <p class="message">-- <%= @message %> --</p>
      <% else %>
        <% @equipments.each do |equipment| %>

          <div class="card-product">
            <%= cl_image_tag equipment.photos.first.key, class: "m-1" %>

            <div class="card-product-infos">
              <p><%= link_to "Your #{equipment.name}", equipment_path(equipment.id) %> - <%= equipment.booked ? "Currently rented" : "Free for renting" %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="row purple-row rentals my-3 p-2">

    <h2 class="col-12 border-bottom my-2">My Rental Requests</h2>

        <div class="waiting col-12 col-md-6">
          <h3>Waiting for answer</h3>
          <% if @requests_wait.empty? %>
            <p class="message">-- <%= @message %> --</p>
          <% else %>
            <% @requests_wait.each do |request| %>

              <div class="card-product">
                <%= cl_image_tag request.equipment.photos.first.key, class: "m-1" %>
                <div class="card-product-infos">
                  <div class="group-item">
                    <p><strong>Rental date:</strong> <%=  request.date %></p>
                    <p><strong>--<%= request.status %>--</strong></p>
                    <p><strong>Equipment:</strong> <%= request.equipment.name%></p>
                    <p><strong>Requested by:</strong> <%= request.user.first_name %></p>
                  </div>
                  <%= link_to "Accept", booking_path(request, request.status = "in progress") , method: 'patch'%>
                  <%= link_to "Decline", booking_path(request, request.status = "declined") , method: 'patch'%>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>

        <div class="on-going col-12 col-md-6">
          <h3>On Going</h3>
            <% if @requests_on.empty? %>
              <p class="message">-- <%= @message %> --</p>
            <% else %>
              <% @requests_on.each do |request| %>

              <div class="card-product">
                <%= cl_image_tag request.equipment.photos.first.key, class: "m-1" %>
                <div class="card-product-infos">
                  <div class="group-item">
                    <p><strong>Rental date:</strong> <%=  request.date %></p>
                    <p><strong>--<%= request.status %>--</strong></p>
                    <p><strong>Equipment:</strong> <%= request.equipment.name%></p>
                    <p><strong>Requested by:</strong> <%= request.user.first_name %></p>
                  </div>
                  <%= link_to "Cancel", booking_path(request, request.status = "declined") , method: 'patch'%>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>

      </div>

    <div class="row purple-row bookings my-3 p-2">

      <div class="col-12">
        <h2 class="border-bottom my-2">My Bookings</h2>

          <% if @bookings.empty? %>
            <p class="message">-- <%= @message %> --</p>
          <% else %>
            <% @bookings.each do |booking| %>

            <div class="card-product">
              <%= cl_image_tag booking.equipment.photos.first.key, class: "m-1" %>
                <div class="card-product-infos">
                  <div class="main">
                    <p><strong>Rental date:</strong> <%= booking.date %></p>
                    <p class="bigger-text"><strong>--<%= booking.status %>--</strong></p>
                    <p><strong>Equipment:</strong> <%= booking.equipment.name%>, owned by <%= User.find(booking.equipment.user_id).first_name %> <%= User.find(booking.equipment.user_id).last_name %></p>
                    <%= link_to "Cancel Booking", booking_path(booking, booking.status = "canceled") , method: 'patch', data: { confirm: "Are you sure you want to cancel the booking ?" } %><br>
                  </div>
                <div class="reviews mx-3">
                  <% review = booking.equipment.reviews.find{|review| review.user_id == current_user.id && review.booking_id == booking.id } %>
                  <% if review.nil? %>
                    <%= link_to "Add a review", new_booking_review_path(booking.id) %>
                  <% else %>
                    <p><strong><%= "Review: "%></strong></p>
                    <% (review.rating).times do |r| %>
                      <i class="fas fa-star text-primary"></i>
                    <% end %>
                    <% (5 - (review.rating)).times do |r| %>
                      <i class="far fa-star text-primary"></i>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>

      </div>
    </div>

</div>
