<h1>My Dashboard</h1>

<h2>My Stuff</h2>
<% if @equipments.empty? %>
  <p>-- <%= @message %> --</p>
<% else %>
<ul>
  <% @equipments.each do |equipment| %>
    <li><%= link_to "#{equipment.name}", equipment_path(equipment.id) %></li>
  <% end %>
</ul>
<% end %>

<h2>My Requests</h2>
<h3>Waiting for answer</h3>
  <% if @requests_wait.empty? %>  
    <p>-- <%= @message %> --</p>
  <% else %>
    <ul>
    <% @requests_wait.each do |request| %>
      <li>
        On<%=  request.date %><br>
        --<%= request.status %>--<br>
        Equipment: <%= request.equipment.name%><br>
        Requested by: <%= request.user.first_name %>
      </li>
    <%= link_to "Accept", booking_path(request, request.status = "in progress") , method: 'patch'%>
    <%= link_to "Decline", booking_path(request, request.status = "declined") , method: 'patch'%>
  <% end %>
  </ul>
  <% end %>
<h3>On Going</h3>
  <% if @requests_on.empty? %>  
    <p>-- <%= @message %> --</p>
  <% else %>
    <ul>
    <% @requests_on.each do |request| %>
      <li>
        On<%=  request.date %><br>
        --<%= request.status %>--<br>
        Equipment: <%= request.equipment.name%><br>
        Requested by: <%= request.user.first_name %>
      </li>
      <%= link_to "Cancel", booking_path(request, request.status = "canceled") , method: 'patch'%>
    <% end %>
    </ul>
  <% end %>

<h2>My Bookings</h2>
<% if @bookings.empty? %>
  <p>-- <%= @message %> --</p>
<% else %>
  <ul>
  <% @bookings.each do |booking| %>
    <li>
     On<%= booking.date %><br>
     --<%= booking.status %>--<br>
     Equipment: <%= booking.equipment.name%><br>
     Owner: <%= User.find(booking.equipment.user_id).first_name %>
      <%= User.find(booking.equipment.user_id).last_name %>
    </li>
    <% if booking.equipment.reviews.empty? %>
      <%= link_to "Add a review", new_booking_review_path(booking.id) %>
    <% else %>
      <% review = booking.equipment.reviews.find{|review| review.user_id == current_user.id} %>
      <%= "Review: "%>
      <% (review.rating).times do |r| %>
          <i class="fas fa-star text-primary"></i>
      <% end %>
    <% end %>
  <% end %>
  </ul>
<% end %>