<div class="navbar navbar-expand-sm navbar-light navbar-lewagon sticky-top">
  <div class="collapse navbar-collapse">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= cl_image_tag("riqzvy6cb5yhvbelfzxx") %>
    <% end %>
    <% if user_signed_in? %>
      <%= current_user.first_name %> <%= current_user.last_name %>
    <% end %>
  </div>

  <% end %>
  <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search equipment..." aria-label="Search" name="search">
        <button class="btn my-2 my-sm-0 border" type="submit">Search</button>
      </form>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "Home",root_path , class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Equipments",equipments_path , class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Bookings",bookings_path , class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
