<div class="container">

  <h1 class="my-3">New Review for <%= @equipment.name %></h1>

  <div class="row">

    <div class="col-12 col-md-6">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <% @equipment.photos.each do |photo| %>
            <% if photo == @equipment.photos.first %>
              <div class="carousel-item active">
            <% else %>
              <div class="carousel-item">
            <% end %>
            <%= cl_image_tag photo.key, height: 300, crop: :fill, class: "d-block carousel-center" %>
          </div>
          <% end %>
        </div>
        <% if @equipment.photos.attached? && @equipment.photos.length > 1%>
        <a class="carousel-control-prev" href="#carousel-<%= @equipment.id %>" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-<%= @equipment.id %>" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
        <% end %>
      </div>
    </div>

    <div class="col-12 col-md-6">
      <div class="description mx-3 my-3">
        <p class="border-bottom py-2"><strong class="title-color">Description:</strong> <%= @equipment.description %></p>
        <p class="border-bottom py-2"><strong class="title-color">Price:</strong> <%= @equipment.price %>CAD /day</p>
        <p class="border-bottom py-2"><strong class="title-color">Owner:</strong> <%= User.find(@equipment.user_id).first_name %></p>

        <% if policy(@equipment).edit? %>
          <p><%= link_to "Edit", edit_equipment_path(@equipment) %></p>
        <% end %>

        <% if policy(@equipment).destroy? %>
          <p><%= link_to "Delete",
            equipment_path(@equipment),
            method: :delete,
            data: { confirm: "Are you sure you want to delete #{@equipment.name}?" } %></p>
        <% end %>
      </div>
      <div class="description mx-3 my-5">
        <p class="title-color"><strong>Reviews:</strong></p>
        <% @reviews = @equipment.reviews %>
        <% if @reviews.empty? %>
          <%= "-- None --"%>
        <% else %>
          <% counter = 1 %>

          <% @reviews.each do |review|%>
            <ul>
              <li>
                <p><strong>N°<%= counter%>:</strong> <%= review.title %>
                  <% (review.rating).times do |r| %>
                    <i class="fas fa-star text-primary"></i>
                  <% end %>
                  <% (5 - (review.rating)).times do |r| %>
                    <i class="far fa-star text-primary"></i>
                  <% end %>
                  </p>
                <p><strong>Content:</strong> <%= review.description %></p>
              </li>
            </ul>
            <% counter += 1 %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="orange-row p-3 my-3 col-12 col-md-6">
      <h2>Review:</h2>
      <%= simple_form_for([@booking, @review]) do |f| %>
        <%= f.input :title %>
        <%= f.input :description %>
        <%= f.collection_radio_buttons :rating, [['1', '1'], ['2', '2'], ['3', '3'], ['4', '4'], ['5', '5']], :first, :last %>
        <%= f.submit "Add a review!", class: "btn d-flex flex-column my-2" %>
      <% end %>
    </div>

  </div>
</div>
