<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sportify</title>
    <link rel="icon" href="https://res.cloudinary.com/dy9zumgoz/image/upload/v1597787478/riqzvy6cb5yhvbelfzxx.png" type="image/png">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <meta name="algolia-app-id" content="<%= ENV["ALGOLIA_APP_ID"] %>">
    <meta name="algolia-search-only-api-key" content="<%= ENV["ALGOLIA_SEARCH_ONLY_API_KEY"] %>">
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
